<%- include('./partials/header') %>

    <main class="w-full bg-[#FBF5F0] max-w-[1920px] m-auto">

        <div class="w-full min-h-[700px] flex justify-center items-center">


            
        </div>

    </main>

<%- include('./partials/footer') %>