<div class="about-footer bg-[#191717] min-h-[488px] max-w-[1920px] m-auto pb-[70px] lg:pb-0">
                
    <div class="footer min-h-[436px] px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px] pt-[100px]">

        <div class="max-w-[1142px] m-auto w-full text-white flex flex-col lg:flex-row justify-between gap-[50px]">
            <div class="left min-w-[300px] flex flex-col gap-[30px]">

                <h1 class=" font-[merriweather] text-[32px]">
                    Geldix Pharmaceuticals <br>Private Limited
                </h1>
                
                <div class="flex flex-col gap-[10px]">
                    <p class="">Email: info@geldix.in</p>
                    <p class="">Phone: +91 9718164407</p>
                </div>
    
                <div class="flex gap-[20px]">
                    <i class="ri-twitter-x-line cursor-pointer border-white border-[1px] rounded-full px-2 py-1"></i>
                    <i class="ri-instagram-line cursor-pointer border-white border-[1px] rounded-full px-2 py-1"></i>
                    <i class="ri-facebook-fill cursor-pointer border-white border-[1px] rounded-full px-2 py-1"></i>
                </div>
    
            </div>
    
            <div class="right flex flex-wrap min-w-[300px]">
    
                <div class="flex flex-col gap-[10px] w-[150px] pb-[30px]">
                    <h1 class="pb-[10px]">COMPANY</h1>
                    <a href="/">Home</a>
                    <a href="/">Contact</a>
                    <a href="/">About</a>
                    <a href="/">Shop</a>
                </div>
    
                <% if(categories.length> 0){ %>
                    <div class="flex flex-col gap-[10px] w-[150px] pb-[30px]">
                        <h1 class="pb-[10px]">CATEGORIES</h1>
                            <% categories.forEach(category=> { %>
                                <a class="" href="/"><%= category.name %></a>
                            <% }) %>
                    </div>
                <% } %>
    
                <div class="flex flex-col gap-[10px] w-[150px] pb-[30px]">
                    <h1 class="pb-[10px]">STORE</h1>
                    <a href="/">Shop</a>
                    <a href="/">My Account</a>
                    <a href="/">Cart</a>
                </div>
    
                <div class="flex flex-col gap-[10px] w-[150px] pb-[30px]">
                    <h1 class="pb-[10px]">POLICIES</h1>
                    <a href="/">Terms Of Use</a>
                    <a href="/">Privacy Policy</a>
                    <a href="/">Shipping Policy</a>
                    <a href="/">Affiliate Policy</a>
                    <a href="/">Cookie Policy</a>
                </div>
    
            </div>
        </div>

    </div>

    <div class="copyright min-h-[52px] border-t-[1px] border-zinc-300 flex justify-center items-center">
        <p class="text-[14px] text-white">Copyright © 2024 Geldix Pharmaceuticals. All Rights Reserved.</p>
    </div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>