<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geldix Pharmaceuticals : Best Online Pharmacy in India</title>
    <meta name="description" content="Geldix Pharmaceuticals is a leading online pharmaceuticals and medical store in India. We provide a wide range of medicines and healthcare products at affordable prices.">
    <meta name="keywords" content="geldix, geldix pharmaceutical, geldix pharmaceuticals, geldix pharmaceuticals private limited, geldix pharama, bhim singh, seema patel, aakash patel, aakash6250">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <link rel="preload" href="/stylesheets/style.css" as="style">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="font-[lato] overflow-x-hidden">