<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

    <main class="w-full bg-[#FBF5F0] max-w-[1920px] m-auto">

        <div class="w-full flex justify-center items-center py-[100px]">

            <%= user %>
            
        </div>

    </main>

<%- include('./partials/footer') %>