<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>

        <main class="w-full bg-[#FBF5F0] max-w-[1920px] px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px] m-auto">

            <div class="w-full flex justify-center items-center py-[70px]">

                <div class="max-w-[1142px] w-full bg-white px-[10px] py-[10px] shadow-lg flex flex-col gap-[20px] text-justify min-h-[70vh] h-full">

                    <h1 class="text-[merriweather] text-[28px] text-[#000000]">Cart</h1>



                    
                </div>
            </div>

        </main>

        <%- include('./partials/footer') %>