<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>

        <main class="w-full bg-[#FBF5F0] max-w-[1920px] px-[10px] md:px-[20px] lg:px-[150px] xl:px-[150px] m-auto">

            <div class="w-full flex justify-center items-center py-[70px]">

                <div class="max-w-[1142px] w-full bg-white p-[10px] ">

                    <div class="cart-before-checkout flex flex-col lg:flex-row items-stretch gap-[30px] w-full h-full ">

                        <div class="left border-[1px] border-zinc-300 rounded-lg flex flex-col lg:w-[65%] w-full h-full ">

                            <div class="left-heading border-b-[1px] border-zinc-300 p-4">
                                <h1 class="font-bold font-[merriweather] text-zinc-800">Items in your Cart</h1>
                            </div>
                            <div class="products h-full">

                                
                                
                            </div>

                            <div class="empty-cart-message text-center py-[30px] hidden">
                                <p class="text-[#191717] font-[merriweather] text-[24px]">Cart is empty</p>
                            </div>

                        </div>

                        <div class="right w-full lg:w-[35%] flex flex-col gap-[30px] h-full">

                            <% if(!user){ %>
                                <div class="login-register flex flex-col items-stretch justify-center gap-[20px] border-[1px] border-zinc-300 rounded-lg p-4">
                                    <a class="w-full py-2 rounded-xl text-xl text-center border-l-gray-50 bg-[#967BB6] text-white" href="/login">Login</a>
                                    <a class="w-full py-2 rounded-xl text-xl text-center border-l-gray-50 bg-[#967BB6] text-white" href="/register">Register</a>
                                </div>
                            <% } %>

                            <div class="calculations border-[1px] border-zinc-300 rounded-lg p-4">
                                <div class="all-charges flex flex-col gap-[10px] border-b-[1px] border-[#E2E2E2] pb-[30px]">

                                    <div class="subtotal flex justify-between">
                                        <p class="text-[#616161]">Subtotal</p>
                                        <p class="amount text-[#191717] font-[merriweather]">₹0.00</p>
                                    </div>
                        
                                    <div class="shipping flex justify-between">
                                        <p class="text-[#616161]">Shipping</p>
                                        <p class="amount text-[#616161]">Calculated Later</p>
                                    </div>
                        
                                </div>
                        
                                <div class="total pt-[30px]">
                                    <div class="flex justify-between">
                                        <p class="text-[#191717]">Total</p>
                                        <p class="text-[#191717] font-[merriweather]">₹0.00</p>
                                    </div>
                                </div>
                            </div>

                            <% if(user){ %>
                            <a href="/address" class="checkout bg-[#967BB6] text-white text-center w-full py-[12px] rounded-[58px] mb-[100px]">Add Address</a>
                            <% } %>
                        </div>

                    </div>

                    
                </div>
            </div>

        </main>

        <%- include('./partials/footer') %>