<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
        <main class="w-screen lg:bg-white max-w-[1920px] m-auto">

            <section class="containerHeader flex flex-col-reverse lg:flex-row w-[95%] lg:w-[90%] m-auto bg-transparent gap-4 lg:gap-0 lg:rounded-[10px]  overflow-hidden lg:bg-white my-[20px] lg:shadow-xl">

                <div class="trending-products h-[380px] md:h-[380px] lg:h-[400px] border-[1px] lg:border-0 xl:h-[410px] bg-white w-full lg:w-[500px] py-[10px] px-3 relative">
                    
                    <div class="header flex justify-between items-center h-[60px] border-b-[3px] border-orange-400 bg-white">

                        <h1 class=" flex justify-center items-center font-[merriweather] text-[#0D5E59] text-xl">TRENDING PRODUCTS</h1>

                        <div class="btns relative flex flex-row gap-[15px]">
                            <button class="prev-btn rounded-full bg-[#0D5E59] px-1 text-white"><i
                                    class="ri-arrow-up-s-line text-2xl  font-bold"></i></button>
                            <button class="next-btn rounded-full bg-[#0D5E59] px-1 text-white"><i
                                    class="ri-arrow-down-s-line text-2xl font-bold"></i></button>
                        </div>

                    </div>

                    <div class="slider-container overflow-hidden">
                        <div class="slider transition-transform">

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                            <div class="slide w-full h-[100px] flex justify-between px-2 py-3 border-b-[1px] border-zinc-300 hover:border-emerald-300">
                                <img class="" loading="lazy"
                                    src="https://www.epharmacy.com.np/content/images/thumbs/65f68a5aa64a250a0afc1659_the-ordinary-niacinamide-10-zinc-1-30ml.jpeg"
                                    alt="">
                                <div class="w-[70%]">
                                    <h1>The Ordinary - Niacinamide 10% + zinc 1% 30ml</h1>
                                    <p class="text-emerald-500">Rs 3960</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="grand-carousel overflow-hidden h-[160px] md:h-[300px] lg:h-[340px] xl:h-[410px] w-full flex relative">

                    <button class="prev-slide"><i class="ri-arrow-left-s-line text-4xl absolute z-10 left-0 top-1/2 -translate-y-1/2"></i></button>

                    <div class="slider w-full h-full flex transition-transform">

                        <div class="slide bg-[url('/images/banners/65696ef8d04a0c39c7df6358.jpeg')] bg-center bg-cover w-full h-full grow-0 shrink-0 basis-full ">
                        </div>

                        <div class="slide bg-[url('/images/banners/60c5a5408c440bc2c80efa76.jpeg')] bg-center bg-cover w-full h-full  grow-0 shrink-0 basis-full ">
                        </div>

                        <div class="slide bg-[url('/images/banners/65696ef8d04a0c39c7df6358.jpeg')] bg-center bg-cover w-full h-full grow-0 shrink-0 basis-full ">
                        </div>

                        <div class="slide bg-[url('/images/banners/60c5a5408c440bc2c80efa76.jpeg')] bg-center bg-cover w-full h-full  grow-0 shrink-0 basis-full ">
                        </div>
                        
                        <div class="slide bg-[url('/images/banners/65696ef8d04a0c39c7df6358.jpeg')] bg-center bg-cover w-full h-full grow-0 shrink-0 basis-full ">
                        </div>

                        <div class="slide bg-[url('/images/banners/60c5a5408c440bc2c80efa76.jpeg')] bg-center bg-cover w-full h-full  grow-0 shrink-0 basis-full ">
                        </div>
                        
                        <div class="slide bg-[url('/images/banners/65696ef8d04a0c39c7df6358.jpeg')] bg-center bg-cover w-full h-full grow-0 shrink-0 basis-full ">
                        </div>

                        <div class="slide bg-[url('/images/banners/60c5a5408c440bc2c80efa76.jpeg')] bg-center bg-cover w-full h-full  grow-0 shrink-0 basis-full ">
                        </div>
                        
                    </div>

                    <button class="next-slide"><i class="ri-arrow-right-s-line text-4xl absolute z-10 top-1/2 right-0 -translate-y-1/2"></i></button>

                </div>

            </section>

            <div class="facts-scroller-container overflow-hidden my-[20px]">
                <div class="facts-scroller flex py-4">
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">InnovativeResearch</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">GlobalPresence</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">PatientCentered</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">Sustainability</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">CommunitySupport</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">AdvancedTechnology</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">QualityAssurance</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">EmployeeExcellence</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">ClinicalTrials</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">Partnerships</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">InnovativeResearch</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">GlobalPresence</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">PatientCentered</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">Sustainability</p>
                    <p class="bg-[#967BB6] text-white rounded-full shadow-md shadow-purple-300 whitespace-nowrap py-[10px] px-[20px] mx-[10px]">CommunitySupport</p>
                </div>
            </div>

            <section class="about w-full my-[20px] bg-[#DFEDF0] px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px]">
                
                <div class="w-full max-w-[1142px] m-auto flex justify-center items-center">

                    <img src="/images/banners/image-1.png" loading="lazy" alt="Geldix Pharmaceuticals" class="hidden lg:block">

                    <div class="w-[650px] flex flex-col gap-[20px] py-[100px] lg:py-0">

                        <h1 class="text-[24px] font-[merriweather]">
                            Our Commitment to Quality and Exceptional Customer Relationships
                        </h1>

                        <p class="text-[#616161]">
                            Geldix Pharmaceutical Private Limited, based in Bhopal, Madhya Pradesh, India, specializes in a wide range of health, wellness, and medical supplies. Our team of experts is dedicated to ensuring that we provide only the highest quality products, sourced from trusted vendors, at the most competitive prices. <br> <br>
                            Our commitment to excellence is founded on the principle of delivering quality products and maintaining exceptional customer relationships. We offer secure payment options and fast, reliable delivery to ensure a smooth shopping experience. <br><br>
                            At Geldix Pharmaceuticals, your health and well-being are our top priorities. If you have any questions or concerns, please feel free to contact us anytime. We're here to help.
                        </p>
                    
                        <button class="text-white py-[12px] px-[24px] rounded-[58px] bg-[#967BB6] w-max hover:text-[#191717] hover:bg-white">Explore Products</button>
                
                    </div>
                </div>
                
            </section>

            <section class="featured my-[80px] px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px]">

                <div class="max-w-[1142px] m-auto flex flex-col justify-center items-center gap-[40px]">

                    <h1 class="text-[28px] text-[#191717] w-max m-auto font-[merriweather] ">Featured Products</h1>

                    <div class="products max-w-[1142px] w-full m-auto flex justify-center flex-wrap gap-[20px]">

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="product h-[412px] shadow-md shadow-zinc-200 w-[263px] relative group ">

                            <div class="product-image relative h-[330px] w-full bg-[#ECEEF1] bg-[url('/images/products/product-bg.svg')] flex justify-center items-center">

                                <img loading="lazy" src="/images/products/product.svg" alt="">

                                <img loading="lazy" class="absolute top-0 left-0" src="/images/products/product-sale-tag.svg" alt="">

                                <button class="add-to-cart absolute whitespace-nowrap lg:hidden lg:bottom-1/2 bottom-4 left-1/2 bg-[#967BB6] text-white rounded-[58px] py-[12px] px-[50px] lg:group-hover:flex  -translate-x-1/2 lg:translate-y-1/2">Add to Cart</button>

                            </div>

                            <div class="product-details h-[82px] flex  flex-col justify-evenly items-center w-full text-center">

                                <a href="/hello" class="product-name w-max text-[#191717] hover:border-b-[1px] border-[#191717]">
                                    Asterwood Matrixyl 3000
                                </a>

                                <div class="product-price flex justify-center items-center gap-[10px]">
                                    <strike class="product-old-price text-[#ACACAC] font-[merriweather] ">$30.00</strike>
                                    <p class="product-new-price bg-transparent text-[#967BB6] font-[merriweather] ">$24.50</p>
                                </div>
                            </div>
                        </div>

                        

                    </div>

                    <button class="px-[24px] py-[12px] rounded-[58px] bg-[#967BB6] m-auto text-white">View More Products</button>
                </div>
            
            </section>

            <section class="sale bg-[#FBF5F0] px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px]">

                <div class="max-w-[1142px] m-auto py-[80px] flex flex-col xl:flex-row justify-between items-center gap-[20px]">

                    <div class="left-section min-w-[360px] h-[670px] bg-[url('/images/banners/sale-bg.svg')] bg-cover bg-no-repeat bg-center hidden xl:block">

                        <h1 class="text-center text-[#191717] text-[28px] mt-[30px] font-[merriweather] ">Summer Sale!</h1>
    
                        <p class="text-[#616161] px-[15px] text-center mt-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elis erat morbi nam convallis.</p>
    
                        <button class="py-[12px] px-[24px] block m-auto  mt-[30px] bg-[#967BB6] text-white rounded-[58px]">Explore More</button>
    
                    </div>
                    
                    <h1 class="font-[merriweather] text-[28px] text-center xl:hidden">Summer Sale!</h1>
    
                    <div class="right-section max-w-[1142px] xl:max-w-[750px] min-h-[670px] flex justify-between items-center flex-wrap gap-[28px]  ">
    
    
                        <div class="sale-product m-auto flex flex-col max-w-[360px] h-[320px]  ">
    
                            <img loading="lazy" src="/images/products/sale-product-1.svg" alt="sale-product">
    
                            <div class="sale-product-details h-full flex flex-col justify-end gap-[5px] items-center">
    
                                <p class="text-lg text-[#191717] ">Hair Produts</p>
    
                                <p class="text-lg text-[#967BB6] font-[merriweather] ">upto 20% off</p>
    
                            </div>
    
                        </div>
    
                        <div class="sale-product flex flex-col m-auto max-w-[360px] h-[320px]  ">
    
                            <img loading="lazy" src="/images/products/sale-product-2.svg" alt="sale-product">
    
                            <div class="sale-product-details h-full flex flex-col justify-end gap-[5px] items-center">
    
                                <p class="text-lg text-[#191717] ">Skin Care</p>
    
                                <p class="text-lg text-[#967BB6] font-[merriweather] ">upto 50% off</p>
    
                            </div>
    
                        </div>
    
                        <div class="sale-product flex flex-col m-auto max-w-[360px] h-[320px]  ">
    
                            <img loading="lazy" src="/images/products/sale-product-3.svg" alt="sale-product">
    
                            <div class="sale-product-details h-full flex flex-col justify-end gap-[5px] items-center">
    
                                <p class="text-lg text-[#191717] ">Threads</p>
    
                                <p class="text-lg text-[#967BB6] font-[merriweather] ">upto 10% off</p>
    
                            </div>
    
                        </div>
    
                        <div class="sale-product flex flex-col m-auto max-w-[360px] h-[320px]  ">
    
                            <img loading="lazy" src="/images/products/sale-product-4.svg" alt="sale-product">
    
                            <div class="sale-product-details h-full flex flex-col justify-end gap-[5px] items-center">
    
                                <p class="text-lg text-[#191717] ">Fillers</p>
    
                                <p class="text-lg text-[#967BB6] font-[merriweather] ">upto 15% off</p>
    
                            </div>
    
                        </div>
    
                    </div>
                </div>

            </section>

            <section class="about-us bg-zinc-50 px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px] m-auto py-[80px]">

                <div class="max-w-[1142px] flex flex-col lg:flex-row items-center justify-between gap-[50px] min-h-[572px] m-auto">

                    <div class="left max-w-[495px] flex flex-col gap-[50px]">

                        <h1 class="text-[36px] text-[#191717] font-[merriweather] ">Founder & Co-founder</h1>
    
                        <p class="text-[#191717]">
                            Welcome to Geldix Pharmaceuticals, your trusted partner in health and wellness. Founded by <span class="font-[merriweather]">Bhim Singh</span> and co-founded by <span class="font-[merriweather]">Seema Patel</span>, we are committed to providing high-quality medical products to our customers. With our roots in Bhopal, where we operate a well-established offline shop, we have expanded our reach to serve customers nationwide through our presence on Amazon and our own eCommerce website.
                            <br><br>
                            At Geldix Pharmaceuticals, we offer a wide range of pharmaceutical products designed to meet your healthcare needs. Our dedication to quality and customer satisfaction sets us apart, ensuring you receive the best products and services. Join us in our mission to enhance healthcare accessibility and improve lives.
                        </p>
    
                        <button class="bg-[#0d5e59] w-max px-[24px] py-[12px] rounded-[58px] text-white">Learn More</button>
    
                    </div>
    
                    <div class="w-[400px] h-[400px] hidden lg:block">
                        <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg">
                            <text x="50%" y="60%" class="custom-text text-[450px] fill-current font-[jost] text-[#0D5E59]" dominant-baseline="middle" text-anchor="middle">G</text>
                        </svg>                      
                    </div>
                    
                </div>
                
            </section>

            <section class="customer-review bg-[#E1EAF4] py-[80px] px-[20px] flex flex-col items-center gap-[50px]">

                <h1 class="font-[merriweather] text-[28px] ">Not to brag, but customers are loving us.</h1>

                <div class="slider-container overflow-hidden xl:max-w-[1120px] max-w-[360px] md:max-w-[740px]   flex items-center gap-[20px]">

                    <div class="slider transition duration-1000 flex gap-[20px]">

                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    The Services provided are really great, we received a genuine advice and at very reasonable cost. all the work went hassle-free and no complication
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Nishant</p>
                                    <img loading="lazy" src="/images/banners/four-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
    
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    The links to high-value blog posts already make the book worth it, never mind the amazing insight and context provided by Shawn. Must buy for #CodeNewbies looking to break in or senior engineers looking to grow!
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Suraj</p>
                                    <img loading="lazy" src="/images/banners/five-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
                                
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    Wow what great service, I love it! It's is the most valuable business resource we have EVER purchased. We can't understand how we've been living without it. I strongly recommend it to everyone!!!!
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Dheeraj</p>
                                    <img loading="lazy" src="/images/banners/four-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
                                
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    The Services provided are really great, we received a genuine advice and at very reasonable cost. all the work went hassle-free and no complication
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Nishant</p>
                                    <img loading="lazy" src="/images/banners/four-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
    
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    The links to high-value blog posts already make the book worth it, never mind the amazing insight and context provided by Shawn. Must buy for #CodeNewbies looking to break in or senior engineers looking to grow!
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Suraj</p>
                                    <img loading="lazy" src="/images/banners/five-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
                                
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    Wow what great service, I love it! It's is the most valuable business resource we have EVER purchased. We can't understand how we've been living without it. I strongly recommend it to everyone!!!!
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Dheeraj</p>
                                    <img loading="lazy" src="/images/banners/four-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
                                
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    The Services provided are really great, we received a genuine advice and at very reasonable cost. all the work went hassle-free and no complication
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Nishant</p>
                                <img loading="lazy" src="/images/banners/four-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
    
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    The links to high-value blog posts already make the book worth it, never mind the amazing insight and context provided by Shawn. Must buy for #CodeNewbies looking to break in or senior engineers looking to grow!
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Suraj</p>
                                    <img loading="lazy" src="/images/banners/five-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
                                
                        </div>
    
                        <div class="slide min-w-[360px] h-[363px] p-[20px] flex flex-col gap-[30px] bg-white">
    
                                <img loading="lazy" src="/images/banners/double-quots.svg" alt="" class="w-[32px] h-[31px]">
    
                                <p class="text-[16px] text-[#191717]">
                                    Wow what great service, I love it! It's is the most valuable business resource we have EVER purchased. We can't understand how we've been living without it. I strongly recommend it to everyone!!!!
                                </p>
    
                                <div class="">
                                    <p class="text-[#616161] text-[18px] font-[merriweather]">-Dheeraj</p>
                                    <img loading="lazy" src="/images/banners/four-star.svg" alt="" class="w-[104px] -[20px]">
                                </div>
                                
                        </div>
    
                    </div>

                </div>

            </section>

            <section class="newsletter bg-[url('/images/banners/newsletter-bg.svg')] bg-left md:bg-center bg-cover bg-no-repeat px-[20px] md:px-[10px] lg:px-[190px] xl:px-[150px] py-[40px]">

                <div class="max-w-[1142px] m-auto">
                    <div class="form max-w-[500px] min-h-[300px] flex flex-col justify-center gap-[30px] items-start">

                        <h1 class="text-[28px] text-[#191717] font-[merriweather]">Let's keep it real.</h1>
    
                        <p class="text-[#191717]">
                            Sign up for our newsletter for 10% off, self care tips, acne 101 and fun community surprises. We love bluming with you!
                        </p>
                        
                        <form action="" class="flex flex-wrap gap-[10px]">
                            <input type="email" placeholder="Your Email" class="bg-white opacity-[63%] text-[#616161] w-[340px] md-w-[370px] px-[25px] outline-none py-[10px] rounded-[58px]">
                            <button class="bg-[#967BB6] text-white py-[12px] px-[24px] rounded-[58px] ">Submit</button>
                        </form>
    
                    </div>
                </div>

                
            </section>

        </main>

        <%- include('./partials/footer') %>