<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
        <main class="w-screen lg:bg-white max-w-[1920px] m-auto">

            

        </main>

        <%- include('./partials/footer') %>