<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

    <main class="w-full bg-[#FBF5F0] max-w-[1920px] m-auto">

        <div class="w-full flex justify-center items-center py-[100px]">

            <div class="max-w-[720px] w-full bg-white px-[30px] py-[10px] shadow-lg flex flex-col gap-[20px]">

                <h1 class="text-[merriweather] text-[28px] text-[#000000]">Register</h1>

                <form class="flex flex-col items-center gap-[40px]" id="registerForm" method="POST">
                    <div class="w-full">
                        <input class="w-full bg-[#F2F2F2] px-[20px] py-[11px] rounded-[129px] focus:outline-none focus:border-[2px] focus:border-[#191717]   text-[#616161]" type="text" name="firstName" id="firstName" placeholder="Enter Your First Name">
                    </div>
                    <div class="w-full">
                        <input class="w-full bg-[#F2F2F2] px-[20px] py-[11px] rounded-[129px] focus:outline-none focus:border-[2px] focus:border-[#191717]   text-[#616161]" type="text" name="lastName" id="lastName" placeholder="Enter Your last Name">
                    </div>
                    <div class="w-full">
                        <input class="w-full bg-[#F2F2F2] px-[20px] py-[11px] rounded-[129px] focus:outline-none focus:border-[2px] focus:border-[#191717]   text-[#616161]" type="email" name="email" id="email" placeholder="Enter Your Email">
                        <div class="text-red-500 hidden px-[20px] text-sm w-full" id="emailError">Invalid email ID</div>
                    </div>
                    <div class="w-full">
                        <input class="w-full bg-[#F2F2F2] px-[20px] py-[11px] rounded-[129px] focus:outline-none focus:border-[2px] focus:border-[#191717]   text-[#616161]" type="tel" name="phone" id="phone" placeholder="Enter Your Phone Number">
                        <div class="text-red-500 hidden px-[20px] text-sm w-full" id="phoneError">Invalid phone number</div>
                    </div>
                    <div class="w-full">
                        <input class="w-full bg-[#F2F2F2] px-[20px] py-[11px] rounded-[129px] focus:outline-none focus:border-[2px] focus:border-[#191717]  text-[#616161]" type="password" name="password" id="password" placeholder="Enter Your Password">
                    </div>
                    <button class="w-max px-[50px] py-[12px] rounded-[58px] focus:outline-none focus:border-purple-900 focus:border-[2px]  text-white bg-[#967BB6]">Register</button>
                </form>
            </div>
        </div>

    </main>

<%- include('./partials/footer') %>