<%- include('../partials/header') %>

<%- include('../partials/sidebar') %>
<main class="relative bg-[#F2F7FB] dark:bg-[#0F172A] w-full pb-[50px] overflow-x-auto">
<%- include('../partials/navbar') %>




<div class="container w-full h-[1000px] px-6 py-8 flex flex-col ">

    
    
</div>



    
<footer class="h-[50px] absolute bottom-0 left-0 w-full dark:bg-[#1E293B] bg-white flex justify-center items-center ">
    <p class="text-lg">Design with <span class="heart text-red-600"><i class="ri-heart-line"></i></span> by <a class="hover:text-red-600 text-blue-600" href="https://geldix.in">Aakash Patel</a> All rights reserved.</p>
</footer>
</main>
<%- include('../partials/footer') %>