<nav class="navbar w-full shadow-md h-[70px] px-4 flex items-center justify-between text-2xl bg-white dark:bg-[#1E293B] dark:shadow-zinc-700">

    <div class="sidebar-btn">
        <i class="side-bar-open-btn ri-menu-unfold-3-line text-2xl cursor-pointer "></i>
    </div>
    
    <div class="right flex gap-4 items-center ">

        <i class="dark-mode-btn ri-moon-line cursor-pointer rounded-full bg-[#F2F7FB] dark:bg-[#303B4C] px-2 py-1 "></i>

        <i class="full-mode-btn ri-fullscreen-fill cursor-pointer rounded-full dark:bg-[#303B4C] bg-[#F2F7FB] px-2 py-1 "></i>

        <div class="user"></div>

    </div>
</nav>